{% extends('base.html') %}

{% block title %}
    <title>Youtube Downloader</title>
{% endblock %}

{% block content %}

    <div class="divError">
        <p>Erreur</p>
    </div>

    <div class="divHeader">
        <!-- <h1> <span>Télécharger</span> des <span>videos</span> en toute simplicité</h1> -->
        <span class="bouleTop"></span>
        <div class="grains">
            {% for div in range(9)%}
            <div>
                {% if div%2==0 %}
                    {% for span in range(40)%}
                        <span></span>
                    {% endfor %}
                {% else %}
                    {% for span in range(10)%}
                        <span class="spanBoule"></span>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="divContainer">
        <form method="post">
            <input type="text" id="inputText" name="inputText" placeholder="Exemple: https://www.youtube.com/wghKHFDHJ65JJ">
            <input type="submit" id="inputSubmit" value="Charger">
        </form>


        <div class="divVideos">
            {% if videos %}

                {% for video in videos %}
                    <div class="card">
                        <img src="{{yt.thumbnail_url}}" alt="hello" />
                        <div>
                            <h2>{{yt.title}}</h2>
                            <p class="res">
                                <span>{{yt.views}} vues</span>
                                <span>Résolution: {{video.resolution}}</span>
                            </p>
                        </div>
                        <div class="divLink">
                            <a href="/downloader/{{video.itag}}/{{url}}">Télécharger</a>
                            
                        </div>
                    </div>
                {% endfor %}

            {% else %}

                <div class="para">
                    <p>Aucune video pour le moment !</p>
                </div>

            {% endif %}

            
        </div>
    </div>
{% endblock %}